<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TeamTailor Insights</title>
        <style>
            body {
                font-family: Arial, Helvetica, sans-serif;
            }
            table {
                margin: 0;
            }

            th {
                background-color: #E32185;
                color: #fff;
                font-weight: bold;
            }
            tr {
                border-bottom: 1rem;
                border-color: #000;
            }
            tr:nth-of-type(odd)  {
                background-color: #f1f1f1;
            }
        </style>
        <script>
            function gotoUser(user) {
                const urlParams = new URLSearchParams(window.location.search);
                if (user === null)
                    urlParams.delete('user')
                else
                    urlParams.set('user', user);
                window.location = "/?" + urlParams.toString(); 
            }

            function onMonthChanged() {
                let months = document.getElementById("monthSelect");
                const urlParams = new URLSearchParams(window.location.search);
                urlParams.set('months', months.value);
                window.location = "/?" + urlParams.toString(); 
            }
        </script>
    </head>
    <body>
        <table>
            <tr class="grid">
                <th class="header CreatedAt">Skapad
                    <select id="monthSelect" onchange="onMonthChanged()">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </th>
                <th class="header User"><a onClick='gotoUser(null)' href="#">Användare</a></th>
                <th class="header Name">Kandidat</th>
                <th class="header Email">Email</th>
                <th class="header Note">Anteckning</th>
                <th class="header Link">TeamTailor</th>
                <th class="header LinkedIn">LinkedIn</th>
            </tr>
                {% for d in data %}
                <tr>
                    <td class="CreatedAt">{{ d['CreatedAt'] }}</td>
                    <td class="User"><a onclick='gotoUser("{{ d["User"] }}")' href="#">{{ d['User'] }}</a></td>
                    <td class="Name">{{ d['Name'] }}</td>
                    <td class="Email">
                        {% if d['Email'] %}
                            <a href="maioto:{{ d['Email'] }}">{{ d['Email'] }}</a>
                        {% else %}
                            <span class="empty"></span>                            
                        {% endif %}
                    </td>
                    <td class="Note">{{ d['Note'] }}</td>
                    <td class="Link"><a href="{{ d['Link'] }}">Profil</a></td>
                    <td class="LinkedIn">
                        {% if d['LinkedIn'] %}
                            <a href="{{ d['LinkedIn'] }}">LinkedIn</a>
                        {% else %}
                            <span class="empty"></span>                            
                        {% endif %}
                    </td>

                </tr>
                {% endfor %}
        </table>
    </body>
    <script>
        // Load the selected months
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('months')) {
            let months = document.getElementById("monthSelect");
            months.value = urlParams.get('months');
        }
    </script>
</html>